h3=machine.name
div.container
    div.row
        div.col-xs-12.col-md-6.align-middle
            if (machine.featuredVideo != null)
                video(width="640",height="500",preload="none", controls="controls",poster=config.cdn_prefix+machine.featuredImage,style="width:100%",controlsList="nodownload")
                    source(type="video/mp4",src=config.cdn_prefix+machine.featuredVideo)
            else if (machine.featuredImage != null)
                img(src=config.cdn_prefix+machine.featuredImage, style="max-width:100%;max-height:400px;")
        div.col-xs-12.col-md-6.align-middle
            p !{machine.description}
            if (machine.links)
                ul 
                each link in machine.links 
                    li 
                        a(href=config.cdn_prefix+link.url, target="_blank")=link.text
            if (machine.state == "sold")
                img(src=config.cdn_prefix + "/occasions/vendu.png")
           
            if(machine.showContact != false)
                p
                    a(href="/contact") 
                        button.btn.btn-primary(type="submit") Contactez-nous
            else
                p

if (machine.gallery != null)
    - var idgallery = "nanogallery" + m
    div(id=idgallery,data-nanogallery2='{"thumbnailHeight": 210, "thumbnailWidth": 210,"thumbnailL1GutterWidth":  30,"itemsBaseURL":""}')
        each image in machine.gallery
            p=image
            a(href=config.cdn_prefix+image) &nbsp;

hr