- page.content = page.content.split("$cdn").join(config.cdn_prefix)

doctype html
html
  head
    title= page.title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon", href="/favicon.jpg" type="image/x-icon")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js", integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", crossorigin="anonymous")
    script(type="text/javascript",src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?noGeoIp=1")
    if ((page.type == "slider") || (page.type == "machines"))
        link(href="https://unpkg.com/nanogallery2@2.0.0/dist/css/nanogallery2.min.css",rel="stylesheet",type="text/css")
        script(type="text/javascript",src="https://unpkg.com/nanogallery2@2.0.0/dist/jquery.nanogallery2.min.js")
    if (page.type == "contact")
        script(src='https://www.google.com/recaptcha/api.js')

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-white
        a.navbar-brand(href="/") 
            img(src=config.cdn_prefix+"/logo-header.png")
        button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div#navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav
                each p in pages
                    if (p.type != "menu")
                        li.nav-item
                            if (p.id == page.id)
                                a.nav-link.active(href=p.id)= p.title
                            else
                                a.nav-link(href="/"+p.id,toto=p.type+"")= p.title
                    else
                        li.nav-item.dropdown 
                            a#navbarDropdown.nav-link.dropdown-toggle(href="#",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")= p.title
                            div.dropdown-menu(aria-labelledby="navbarDropdown")
                                each souspage in p.pages
                                    a.dropdown-item(href="/"+souspage.id)= souspage.title
    div.container-fluid
        ol.breadcrumb.bg-light
            li.breadcrumb-item 
                a(href="/") A3S Mecanique
            li.breadcrumb-item.active=page.title
        block content
    footer.footer.bg-light(style="padding-bottom:0px;text-align:center;")
        span.text-muted
            | Copyright &copy; 2018 
            a(href="http://www.a3smecanique.fr/",title="A3S Mécanique") A3S Mécanique.  
            | Tous droits réservés - Mentions légales
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async,src="https://www.googletagmanager.com/gtag/js?id=" + config.ga_tracking_code)
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '#{config.ga_tracking_code}');